<mat-card *ngFor="let todo of todoList$">
  <mat-card-content fxLayout="column">
    <div fxFlexAlign="end">
      <button mat-button mat-icon-button color="primary">
        <mat-icon>
          {{isUpdateAction ? 'done' : 'edit'}}
        </mat-icon>
      </button>
      <button mat-button mat-icon-button color="warn">
        <mat-icon (click)="emitDelete.emit(todo.key)">delete_outline</mat-icon>
      </button>
    </div>
    <div fxLayout="column">
      <p *ngIf="!isUpdateAction" class="to-do-value">{{todo.value.value}}</p>
      <mat-form-field *ngIf="isUpdateAction" fxFlex="100">
        <mat-label>Deal</mat-label>
        <input matInput type="text" [value]="todo.value.value">
      </mat-form-field>
      <p fxFlexAlign="end" class="to-do-date">{{todo.value.createDate | date: 'medium'}}</p>
    </div>
  </mat-card-content>
</mat-card>
