<mat-toolbar color="primary"
             fxLayoutAlign="space-between center">

  <h1>Firebase app</h1>
  <div *ngIf="!(isLogged$ | async); else authUser"
       class="un-auth-navigate">
    <button mat-button
            routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}"
            routerLink="auth/sign-in">Sign in
    </button>
    <button mat-button
            routerLinkActive="active"
            routerLink="auth/sign-up">Sign up
    </button>
  </div>
  <ng-template #authUser>
    <div>
      <button mat-icon-button
              [matMenuTriggerFor]="appMenu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #appMenu="matMenu">
        <button mat-menu-item
                routerLinkActive="menu-active"
                [routerLinkActiveOptions]="{exact: true}"
                routerLink="user/about">About
        </button>
        <button mat-menu-item
                routerLinkActive="menu-active"
                routerLink="user/info">Info
        </button>
        <mat-divider></mat-divider>
        <button mat-menu-item
                (click)="signOut()">Sign out
        </button>
      </mat-menu>
    </div>
  </ng-template>

</mat-toolbar>
<mat-card>
  <router-outlet></router-outlet>
</mat-card>
